<div class="flex flex-col md:flex-row">
    {% render 'theme/simple/admin/new_menu', this_page: this_page %}

    <div class="bg-gray-50 py-10 w-full md:w-4/5">
        <div class="mx-auto px-3 md:px-10">
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-gray-600 text-3xl font-bold">Contractors</h2>

                {%comment%}
                <div class="flex justify-center items-center" x-data="{ toggle: '1' }">
                    <div class="relative rounded-full w-12 h-4 transition duration-200 ease-linear"
                            :class="[toggle === '1' ? 'bg-purple-400' : 'bg-gray-400']">
                        <label for="toggle" 
                                class="absolute -top-1 left-0 bg-white border-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear cursor-pointer"
                                :class="[toggle === '1' ? 'translate-x-full border-purple-500 bg-purple-500' : 'translate-x-0 border-gray-400']">
                                
                            </label>
                        <input type="checkbox" id="toggle" name="toggle" 
                                class="appearance-none w-full h-full active:outline-none focus:outline-none"
                                @click="toggle === '0' ? toggle = '1' : toggle = '0'">
                    </div>
                    <span class="text-xs font-normal text-gray-500 ml-3.5">Show Unavailable</span>
                </div>
                {%endcomment%}

            </div>
            

            <div class="overflow-auto py-6">
                <table class="border-collapse w-full table-fixed">
                    <thead>
                        <tr>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">Photo</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">Name</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">sign up date</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">Location</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">Last login</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold">projects posted</th>
                        <th class="uppercase text-sm text-center text-gray-600 h-10 font-bold"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if records.results.size == 0 %}
                            <tr class="bg-white rounded-lg shadow"><td colspan="7">No Records.</td></tr>
                        {% else %}

                            {% for c in records.results %}
                            <tr class="bg-white rounded-lg shadow">
                                <td class="border-b border-gray-200 text-center h-20">
                                    {% if c.photo.photo.url %}
                                    <img src="{{c.photo.photo.url}}" alt="" class="w-10 h-10 rounded-full m-auto">
                                    {% else %}
                                    <img src="{{ 'images/signup-img3.png' | asset_url }}" alt="" class="w-10 h-10 rounded-full m-auto">
                                    {% endif %}
                                </td>
                                <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">{{c.name}}</td>
                                <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">{{ c.created_at | date: "%b %y" }}</td>
                                <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">{{c.profile_contractor_bio.office_location}}</td>
                                <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">{{ c.last_login | date: "%b %d, %Y %H:%M" }}</td>
                                <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">{{c.projects.size}}</td>
                                <td class="border-b border-gray-200 text-center h-20">
                                    <a href="/admin/contractor/details?id={{c.id}}" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                                    &nbsp;
                                    <a href="/find_project?c_user_id={{c.user_id}}" class="px-3 whitespace-nowrap m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">View Projects</a>  
                                </td>
                            </tr>
                            {%endfor%}

                        {% endif %}

                        {%comment%}
                        <tr class="bg-white rounded-lg shadow">
                        <td class="border-b border-gray-200 text-center h-20">
                            <img src="images/project-img.svg" alt="" class="w-10 h-10 rounded-full m-auto">
                        </td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-bold text-gray-600">Heavy Techs</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">April 2021</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">Riverton, WY</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">2 days ago</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">3</td>
                        <td class="border-b border-gray-200 text-center h-20">
                            <a href="javascript:void(0)" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                        </td>
                        </tr>
                        <tr class="bg-white rounded-lg shadow">
                        <td class="border-b border-gray-200 text-center h-20">
                            <img src="images/project-img.png" alt="" class="w-10 h-10 rounded-full m-auto">
                        </td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-bold text-gray-600">Heavy Techs</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">April 2021</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">Riverton, WY</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">2 days ago</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">3</td>
                        <td class="border-b border-gray-200 text-center h-20">
                            <a href="javascript:void(0)" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                        </td>
                        </tr>
                        <tr class="bg-white rounded-lg shadow">
                        <td class="border-b border-gray-200 text-center h-20">
                            <img src="images/project-img.png" alt="" class="w-10 h-10 rounded-full m-auto">
                        </td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-bold text-gray-600">Heavy Techs</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">April 2021</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">Riverton, WY</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">2 days ago</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">3</td>
                        <td class="border-b border-gray-200 text-center h-20">
                            <a href="javascript:void(0)" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                        </td>
                        </tr>
                        <tr class="bg-white rounded-lg shadow">
                        <td class="border-b border-gray-200 text-center h-20">
                            <img src="images/project-img.png" alt="" class="w-10 h-10 rounded-full m-auto">
                        </td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-bold text-gray-600">Heavy Techs</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">April 2021</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">Riverton, WY</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">2 days ago</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">3</td>
                        <td class="border-b border-gray-200 text-center h-20">
                            <a href="javascript:void(0)" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                        </td>
                        </tr>
                        <tr class="bg-white rounded-lg shadow">
                        <td class="border-b border-gray-200 text-center h-20">
                            <img src="images/project-img.png" alt="" class="w-10 h-10 rounded-full m-auto">
                        </td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-bold text-gray-600">Heavy Techs</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">April 2021</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">Riverton, WY</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">2 days ago</td>
                        <td class="border-b border-gray-200 text-center h-20 text-base font-normal text-gray-600">3</td>
                        <td class="border-b border-gray-200 text-center h-20">
                            <a href="javascript:void(0)" class="w-24 m-auto text-base font-normal text-gray-600 heavytechs-border-color-orange heavytechs-text-dark-orange border rounded-3xl leading-7 block">Details</a>    
                        </td>
                        </tr>
                        {%endcomment%}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
    

    