<div class="profileEdit bg-gray-100 pt-9 pb-28"><!--profileEdit-->
<div class="container m-auto px-3.5">

<div class="flex justify-between flex-col md:flex-row">
<div class="w-full mb-6 md:mb-0 md:w-60">

    
    {% render 'theme/simple/dashboard/profile/contractor/photo_upload_area', object: object, presigned_url: presigned_url %}
    {% render 'theme/simple/dashboard/profile/contractor/profile_completion_bar', object: object %}

    {% render 'theme/simple/dashboard/profile/contractor/profile_completion_bar', object: object %}

    {%comment%}
    <div class="pt-8 pb-5 md:pb-0">
        <ul class="customRadio flex md:block">
            <li class="mr-4 md:mr-0 md:mb-3">
                <input {%if profile_availability.availability == '1'%}checked{%endif%} id="available" class="mechanic_availability" type="radio" name="available" value="1">
                <label for="available" class="text-base font-medium text-gray-800"><span><span></span></span>Available</label>
            </li>
            <li>
                <input {%if profile_availability.availability == '0'%}checked{%endif%} id="unavailable" class="mechanic_availability" type="radio" name="available" value="0">
                <label for="unavailable" class="text-base font-medium text-gray-800"><span><span></span></span>Unavailable</label>
            </li>
        </ul>
    </div>
    {%endcomment%}

</div>

<div class="profileEdit_right w-full">
                
    <div class="mb-8 bg-white">
        <ul class="flex items-center flex-col md:flex-row">
            <li class="w-full md:w-auto">
                <a href="/dashboard/profile/contractor/bio" 
                class="text-base w-full text-center h-12 flex items-center justify-center md:w-36 heavytechs-border-color-orange heavytechs-text-dark-orange font-medium border-b-2">Company Bio</a>
            </li>
            <li class="w-full md:w-auto">
                <a href="/dashboard/profile/contractor/projects"
                class="text-base font-normal text-gray-800 w-full text-center h-12 flex items-center justify-center md:w-36">Projects</a>
            </li>
            <li class="w-full md:w-auto">
                <a href="/dashboard/profile/contractor/post_project"
                class="text-base font-normal text-gray-800 w-full text-center h-12 flex items-center justify-center md:w-36">Post a project</a>
            </li>
        </ul>
    </div>

    <div class="bg-white rounded-md">

        <div>
        <div class="bg-white rounded-md shadow-sm px-6 pt-8 pb-1 relative">
            <form action="#">
                <div class="absolute right-7 top-10">
                    <a href="/dashboard/profile/contractor/bio?edit=1">
                        <img src="{{ 'images/edit-icon.svg' | asset_url }}" alt="">
                    </a>
                </div>

                <div class="mb-8">
                    <h4 class="block text-base font-bold text-gray-600 mb-2">Office Location</h4>
                    <span class="block text-base text-gray-500">{{profile_bio.office_location}}</span>
                </div>

                <div class="mb-8">
                    <h4 class="block text-base font-bold text-gray-600 mb-2">Short Description Of Business</h4>
                    <p class="block text-base text-gray-500">{{profile_bio.short_description}}</p>
                </div>

                <div class="mb-8">
                    <h4 class="block text-base font-bold text-gray-600 mb-2">Industry Category:</h4>
                    <ul class="customCheck gap-4 flex flex-col flex-wrap w-full md:w-2/4 md:flex-row md:gap-y-6">

                        {% if profile_bio.mining == '1' %}
                        <li>
                            <input checked disabled id="mining" name="bio[mining]" type="checkbox" name="category" value="1">
                            <label class="text-base font-medium text-gray-800" for="mining"><span></span>Mining</label>
                        </li>
                        {%endif%}

                        {% if profile_bio.heavy_civil == '1' %}
                        <li>
                            <input checked disabled id="heavy_civil" name="bio[heavy_civil]" type="checkbox" name="category" value="1">
                            <label class="text-base font-medium text-gray-800" for="mining"><span></span>Heavy Civil</label>
                        </li>
                        {%endif%}

                        {% if profile_bio.transportation_fleet == '1' %}
                        <li>
                            <input checked disabled id="transportation_fleet" name="bio[transportation_fleet]" type="checkbox" name="transportation_fleet" value="1">
                            <label class="text-base font-medium text-gray-800" for="mining"><span></span>Transportation Fleet</label>
                        </li>
                        {%endif%}

                        {% if profile_bio.aeronautical == '1' %}
                        <li>
                            <input checked disabled id="aeronautical" name="bio[aeronautical]" type="checkbox" name="aeronautical" value="1">
                            <label class="text-base font-medium text-gray-800" for="mining"><span></span>Aeronautical</label>
                        </li>
                        {%endif%}

                        {% if profile_bio.government == '1' %}
                        <li>
                            <input checked disabled id="government" name="bio[government]" type="checkbox" name="government" value="1">
                            <label class="text-base font-medium text-gray-800" for="mining"><span></span>Government</label>
                        </li>
                        {%endif%}
                        
                    </ul>
                </div>

                <div class="mb-8">
                    <h4 class="block text-base font-bold text-gray-600 mb-2">No of employees:</h4>
                    <ul class="customCheck flex gap-4 flex-col md:flex-row md:gap-10">
                        <li>
                            <input checked disabled id="employees1" type="radio" name="bio[total_employees]" value="1-50">
                            <label for="employees1" class="text-base font-medium text-gray-800">
                            <span><span></span></span>{{profile_bio.total_employees}}</label>
                        </li>                       
                    </ul>
                </div>

                <div class="mb-8">
                    <h4 class="block text-base font-bold text-gray-600 mb-2">Annual Sales:</h4>
                    <span class="block text-base text-gray-500">{{profile_bio.annual_sales}}</span>
                </div>
            </form>
        </div>
        </div>

    </div>


</div>